.advantages-area {
    .content-area {
        .subheading {
            h5 {
                font-size: 16px;
                line-height: 26px;
                font-weight: 600;
                color: #F4932C;
                text-transform: uppercase;
            }
        }

        .heading {
            h2 {
                font-size: 46px;
                line-height: 64px;
                font-weight: 600;
                color: #1E1E1E;
            }
        }

        .desc {
            p {
                font-size: 16px;
                line-height: 30px;
                font-weight: 400;
                color: rgba(79, 75, 72, 0.8);
            }
        }
    }

    // cards area

    .single-card {
        text-align: center;

        .heading {
            margin-top: 20px;
            h3 {
                font-size: 24px;
                line-height: 36px;
                font-weight: 600;
                color: #1E1E1E;
                margin: 5px 0px;
            }
        }

        .desc {
            p {
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
                color: rgba(79, 75, 72, 0.7);
            }
        }

        .icon {
            img {
                height: 110px;
            }
        }
    }
}

@media all and (min-width:577px) and (max-width:767px) {
    .advantages-area .content-area .heading h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .advantages-area .single-card {

        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

@media all and (max-width:576px) {
    .advantages-area{
        text-align: center;
    }
    .advantages-area .content-area .heading h2 {
        font-size: 26px;
        line-height: 36px;
    }

    .advantages-area .content-area .desc p {
        font-size: 16px;
        line-height: 26px;
        margin-top: 10px;
    }

    .advantages-area .single-card {
        margin-top: 40px;
    }
}