.cta-area {
    text-align: center;

    .heading {
        padding: 0px 50px;

        h2 {
            font-size: 46px;
            line-height: 64px;
            font-weight: 600;
            color: #1E1E1E;
        }
    }

    .btn-area {
        .rounded-button {
            padding: 15px 35px;
        }
    }
}

@media all and (max-width:576px) {
    .cta-area .heading h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .cta-area .heading {
        padding: 0px 0px;
    }
}