.cta-area {
    text-align: center;

    .heading {


        h2 {
            font-size: 46px;
            line-height: 64px;
            font-weight: 600;
            color: #1E1E1E;
        }
    }

    .btn-area {
        .rounded-button {
            padding: 15px 35px;
        }
    }
}

@media all and (min-width:577px) and (max-width:767px) {
    .cta-area .heading {
        padding: 0px 0px;
    }

    .cta-area .heading h2 {
        font-size: 36px;
        line-height: 46px;
    }
}

@media all and (max-width:576px) {
    .cta-area .btn-area .rounded-button {
        padding: 10px 25px;
    }

    .cta-area .heading h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .cta-area .heading {
        padding: 0px 0px;
    }
}