.home-footer {
    background-color: #1a1b16;
    position: relative;


    .container-fluid {
        padding: 0px !important;
    }

    .main-footer {
        .footer-desc {
            padding-right: 50px;

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #EDF3E5;
            }
        }

        .footer-heading {
            margin-bottom: 20px;
            margin-top: 30px;

            h3 {
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                color: #EDF3E5;
            }
        }

        .footer-nav {
            ul {
                li {
                    a {
                        text-decoration: none;
                        display: inline-block;
                        margin-left: 2px;
                        font-size: 16px;
                        line-height: 32px;
                        font-weight: 400;
                        color: #EDF3E5;


                        &:hover {
                            color: #61B874;
                        }

                    }
                }
            }
        }

        .list-widgets {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    i {
                        color: #61B874;
                        margin-right: 20px;
                    }

                    span {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: #EDF3E5;
                    }
                }
            }
        }

        .links-list {
            margin-top: 20px;

            ul {
                li {
                    a {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 32px;
                        color: #EDF3E5;

                        &:hover {
                            color: #61B874;
                        }
                    }
                }
            }
        }

        .footer-copyright {
            margin-top: 20px;

            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 26px;
                color: #EDF3E5;
            }
        }
    }
}

@media all and (min-width:768px) and (max-width:992px) {
    .home-footer {
        margin-top: 50px;
    }
}

@media all and (min-width:577px) and (max-width:767px) {
    .home-footer {
        margin-top: 0px;
    }
}

@media all and (max-width:576px) {
    .home-footer {
        margin-top: 50px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .main-footer .footer-logo img {
        width: 160px;
    }

    .home-footer .main-footer .footer-desc {
        padding-right: 0px;
    }
}