.home-footer {
   
    video {
        width: 100%;
    }

    .container-fluid {
        padding: 0px !important;
    }
}

@media all and (min-width:768px) and (max-width:992px) {
    .home-footer {
        margin-top: 0px;
    }
}
@media all and (min-width:577px) and (max-width:767px) {
    .home-footer {
        margin-top: 0px;
    }
}
@media all and (max-width:576px) {
    .home-footer {
        margin-top: 0px;
    }
}