.main-second-layout {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .top-area {
        position: absolute;
        top: 110px;
        display: flex;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            color: #1A1B16;
            height: 38px;
            width: 38px;
            border-radius: 50%;
            font-size: 16px;
            text-decoration: none;
        }

        span {
            font-weight: 600;
            font-size: 20px;
            line-height: 36px;
            color: rgba(26, 27, 22, 1);
            text-transform: capitalize;
            margin-left: 20px;
        }
    }

    .content-wrapper {
        max-width: 1184px;
        margin: 0 auto;
    }

    .main-content {
        .heading {
            text-align: center;

            h3 {
                font-size: 20px;
                line-height: 30px;
                font-weight: 600;
                color: #1A1B16;
            }
        }

        .single-card {
            background-color: #fff;
            border-radius: 8px;
            padding: 12px;
            padding-bottom: 30px;

            .img-area {
                margin-right: 26px;
            }

            .content-area {
                span {
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 500;
                    color: #4F4B48;
                }
            }
        }
    }
}

@media all and (min-width:577px) and (max-width:768px) {
    .main-second-layout .top-area {
        top: 35px;
        margin-left: 0px;
    }

    .main-second-layout .content-wrapper {
        max-width: fit-content;
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media all and (max-width:576px) {
    .main-second-layout .top-area {
        top: 40px;
        margin-left: 0px;
    }


}